.navbar{

height:75px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 28px;

position:sticky;

top:0;

z-index:1000;

background:rgba(15,23,32,.92);

backdrop-filter:blur(18px);

border-bottom:1px solid rgba(255,255,255,.08);

box-shadow:0 10px 30px rgba(0,0,0,.18);

}

.nav-left{

display:flex;

align-items:center;

gap:18px;

}

.menu-btn{

display:none;

width:48px;

height:48px;

border:none;

border-radius:14px;

background:linear-gradient(135deg,#166534,#22c55e);

color:#fff;

font-size:20px;

display:flex;

align-items:center;

justify-content:center;

box-shadow:0 8px 18px rgba(34,197,94,.35);

transition:.3s;

}

.menu-btn:hover{

transform:scale(1.05);

}

.logo{

display:flex;

align-items:center;

gap:15px;

}

.logo-icon{

font-size:34px;

color:#4ade80;

}

.logo h2{

font-size:30px;

font-weight:700;

color:#fff;

margin:0;

letter-spacing:.5px;

}

.logo span{

display:block;

margin-top:2px;

font-size:13px;

color:#b8c3bd;

}

.nav-center{

flex:1;

display:flex;

justify-content:center;

}

.date-box{

text-align:center;

}

.date-box p{

margin:0;

font-size:15px;

font-weight:600;

color:#fff;

}

.date-box span{

font-size:13px;

color:#94a3b8;

}

.nav-right{

display:flex;

align-items:center;

gap:14px;

}

.icon-btn,

.theme-btn{

width:48px;

height:48px;

border:none;

border-radius:50%;

background:linear-gradient(135deg,#166534,#22c55e);

color:#fff;

display:flex;

align-items:center;

justify-content:center;

font-size:18px;

cursor:pointer;

box-shadow:0 8px 18px rgba(34,197,94,.35);

transition:.35s;

}

.icon-btn:hover,

.theme-btn:hover{

transform:translateY(-3px) scale(1.08);

}

@media(max-width:768px){

.navbar{

padding:0 18px;

}

.menu-btn{

display:flex;

align-items:center;

justify-content:center;

}

.logo h2{

font-size:22px;

}

.logo span{

display:none;

}

.nav-center{

display:none;

}

.nav-right{

gap:10px;

}

.icon-btn,

.theme-btn{

width:42px;

height:42px;

font-size:16px;

}

}

@media(max-width:480px){

.navbar{

padding:0 12px;

}

.logo{

gap:10px;

}

.logo-icon{

font-size:28px;

}

.logo h2{

font-size:18px;

}

.icon-btn,

.theme-btn,

.menu-btn{

width:38px;

height:38px;

font-size:15px;

}

}